<div class="offcanvas offcanvas-end" tabindex="-1" id="view-bag" aria-labelledby="view-bag-label">
    <div class="offcanvas-header mx-2 mt-1">
        <h3 class="offcanvas-title" id="view-bag-label">Your bag ({{ product_count }})</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-2">
        {% if bag_items %}
            <div class="table-responsive rounded"></div>
        {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
        {% endif %}
    </div>
</div>