{% load bag_tools %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="view-bag" aria-labelledby="view-bag-label">
    <div class="offcanvas-header mx-2 mt-1">
        <h3 class="offcanvas-title" id="view-bag-label">Your bag ({{ product_count }})</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column mx-2">
        <!-- If there are products in the bag, display them -->
        {% if bag_items %}
            <!-- If user hasn't reached delivery threshold, show the progress bar -->
            {% if free_delivery_delta > 0 %}
            <div class="mb-4">
                You're £{{ free_delivery_delta }} away from free shipping!
                <div class="progress rounded-0" style="height: 10px;">
                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{ progress_bar|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            {% endif %}
            <div class="flex-fill">
                <!-- For each product in the bag... -->
                {% for item in bag_items %}
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <div>
                            <!-- Display an image if it has one... -->
                            {% if item.product.image %}
                                <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="350" height="450">
                            <!-- Else show the fallback image -->
                            {% else %}
                                <img class="img-fluid" src="{{ MEDIA_URL }}default.webp" alt="{{ item.product.name }}" width="350" height="450">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <!-- Product details -->
                        <div class="row mt-2 mb-3">
                            <div class="col">
                                <span class="fw-bold">{{ item.product.name }}</span><br>
                                <span class="small">QTY x {{ item.quantity }}</span>
                            </div>
                            <div class="col text-end">£{{ item.product.price | calc_subtotal:item.quantity }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Order subtotal, shopping and grand total -->
            <div class="row align-self-end">
                <div class="col mb-3">
                    <p>Subtotal</p>
                    <p>Shipping</p>
                    <h4>Total</h4>
                </div>
                <div class="col text-end mb-3">
                    <p>£{{ total|floatformat:2 }}</p>
                        {% if delivery == 0 %}
                            <p>FREE</p>
                            {% else %}
                            <p>£{{ delivery|floatformat:2 }}</p>
                        {% endif %}
                        <h4>£{{ grand_total|floatformat:2 }}</h4>
                </div>
                <!-- Buttons -->
                <div class="d-grid">
                    <a href="{% url 'checkout' %}" class="btn btn-primary rounded-0 py-2 mb-2 theme-btn"><i class="icon fa-solid fa-lock px-1" aria-hidden="true"></i> Secure Checkout <i class="icon fa-solid fa-arrow-right px-1" aria-hidden="true"></i></a>
                    <a href="{% url 'view_bag' %}" class="btn btn-brand-pink rounded-0 py-2 mb-2 theme-btn"> View Bag <i class="icon fa-solid fa-arrow-right px-1" aria-hidden="true"></i></a>
                    <a href="{% url 'products' %}" class="btn rounded-0 py-2 theme-btn"><i class="icon fa-solid fa-arrow-left px-1" aria-hidden="true"></i> Continue Shopping</a>
                </div>
            </div>
            
        <!-- If there are no products in the bag, display a button to return to the Products page -->
        {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn rounded-0 py-2 theme-btn"><i class="icon fa-solid fa-arrow-left px-1" aria-hidden="true"></i> Continue Shopping</a>
        {% endif %}
    </div>
</div>