{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
        </div>
    </div>
{% endblock %}

{% block hero %}
    <div class="container mb-7">
        <div class="row">
            <div class="col-12 col-md-6 mt-2 mb-4 py-4">
                <h1 class="display-4"><span class="fw-bold">Travel</span> the world, <br>one <span class="fw-bold">truffle</span> at a time...</h1>
                <p class="my-4">Rethinking the meaning of a factory, we source the best cocoa in the world. With unparalleled focus on craft, quality and relationships, we're dedicated to making a positive impact in fine cocoa communities.</p>
                <p class="my-4"><a href="" class="btn btn-outline-dark rounded-0 py-2 theme-btn">Explore Store</a></p>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1662575848">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" fill="#fff" class="shape-fill"></path>
        </svg>
    </div>
{% endblock %}

{% block content %}

    <div class="container mt-4 pt-4">
        <div class="row">
            <div class="col">
                SOMETHING HERE
            </div>
        </div>
    </div>
{% endblock %}