{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
        </div>
    </div>
{% endblock %}

{% block hero %}
    <div class="container mb-7">
        <div class="row">
            <div class="col-12 col-md-5 mt-2 mb-4 py-4">
                <h1 class="display-4"><span class="fw-bold">Travel</span> the world, <br>one <span class="fw-bold">truffle</span> at a time...</h1>
                <p class="my-4">Rethinking the meaning of a factory, we source the best cocoa in the world. With unparalleled focus on craft, quality and relationships, we're dedicated to making a positive impact in fine cocoa communities.</p>
                <p class="my-4"><a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 py-2 theme-btn">Explore Store</a></p>
            </div>
            <div class="col-md-7">
                <img src="{{ MEDIA_URL }}home-image.png" alt="The Chocolate Factory chocolate">
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1662575848">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" fill="#fff" class="shape-fill"></path>
        </svg>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid mt-4 pt-4">
        <div class="row">
            <div class="col-12 col-md-4 bg-primary text-center pt-5 px-5">
                <h2>Our Range</h2>
                <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
                <div class="home-product">
                    <img width="350" height="450" src="{{ MEDIA_URL }}truffle-dark-chocolate.jpg" alt="Dark Chocolate Truffle Bites">
                </div>
            </div>
            <div class="col-12 col-md-4 bg-brand-pink text-center p-5">
                <h2>Flavours</h2>
                <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
                <div class="home-product">
                    <img width="350" height="450" src="{{ MEDIA_URL }}truffle-white-chocolate.jpg" alt="White Chocolate Truffle Bites">
                </div>
            </div>
            <div class="col-12 col-md-4 bg-brand-blue text-center p-5">
                <h2>Vegan</h2>
                <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
                <div class="home-product">
                    <img width="350" height="450" src="{{ MEDIA_URL }}truffle-vegan-chocolate.jpg" alt="Vegan Milk Chocolate Truffle Bites">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 p-5">
                <h2 class="display-5">Because <span class="fw-bold">community</span> matters</h2>
                <p class="my-4">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                <p class="my-4"><a href="{% url 'producers' %}" class="btn btn-outline-dark rounded-0 py-2 theme-btn mt-2">Learn More</a></p>
            </div>
            <div class="col-12 col-md-6 p-5">
                <img class="img-fluid" src="{{ MEDIA_URL }}the-chocolate-factory-team.jpg" alt="The Chocolate Factory team">
            </div>
        </div>
    </div>
{% endblock %}