{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
        </div>
    </div>
{% endblock %}

{% block hero %}
    <div class="container mb-7">
        <div class="row">
            <div class="col-12 col-lg-5 order-lg-first mt-2 mb-4 py-4">
                <h1 class="display-4"><span class="fw-bold">Travel</span> the world, <br>one <span class="fw-bold">truffle</span> at a time...</h1>
                <p class="my-4">Rethinking the meaning of a factory, we source the best cocoa in the world. With unparalleled focus on craft, quality and relationships, we're dedicated to making a positive impact in fine cocoa communities.</p>
                <p class="my-4"><a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 py-2 theme-btn">Explore Store</a></p>
            </div>
            <div class="col-12 col-lg-7 order-first">
                <img class="img-fluid" src="{{ MEDIA_URL }}home-image.png" alt="The Chocolate Factory chocolate">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 col-md-4 bg-brand-blue text-center pt-5 px-auto">
            <h2>Our Range</h2>
            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline" src="{{ MEDIA_URL }}truffle-milk-chocolate.png" alt="Milk Chocolate Truffle Bites">
                <img width="250" height="350" class="d-lg-none" src="{{ MEDIA_URL }}truffle-milk-chocolate.png" alt="Milk Chocolate Truffle Bites">
            </div>
        </div>
        <div class="col-12 col-md-4 bg-brand-pink text-center pt-5 px-auto">
            <h2>Flavours</h2>
            <a href="{% url 'products' %}?flavour=true" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline" src="{{ MEDIA_URL }}truffle-white-chocolate-strawberry-champagne.png" alt="White Chocolate Truffle Bites with Strawberry and Champagne">
                <img width="250" height="350" class="d-lg-none" src="{{ MEDIA_URL }}truffle-white-chocolate-strawberry-champagne.png" alt="White Chocolate Truffle Bites with Strawberry and Champagne">
            </div>
        </div>
        <div class="col-12 col-md-4 bg-primary text-center pt-5 px-auto">
            <h2>Vegan</h2>
            <a href="{% url 'products' %}?type=vegan" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline" src="{{ MEDIA_URL }}truffle-vegan-dark-chocolate-coffee.png" alt="Vegan Dark Chocolate Truffle Bites with Coffee">
                <img width="250" height="350" class="d-lg-none" src="{{ MEDIA_URL }}truffle-vegan-dark-chocolate-coffee.png" alt="Vegan Dark Chocolate Truffle Bites with Coffee">
            </div>
        </div>
    </div>
    <div class="row align-items-center py-7">
        <div class="col-12 col-md-6 p-5 order-lg-first">
            <h2 class="display-5">Because <span class="fw-bold">quality</span> matters</h2>
            <p class="my-4">If chocolate is your guilty pleasure, why would you want to compromise on the taste and flavour? We have always prided ourselves on making extraordinary chocolate that tastes amazing. </p>
            <p class="my-4">We also know that there are major problems of poverty, slavery and child labour in some cocoa-producing countries and that we have a massive responsibility to ensure we don't turn a blind eye. Ethical cocoa sourcing has always been a core philosophy of ours.</p>
        </div>
        <div class="col-12 col-md-6 order-first">
            <img class="img-fluid" src="{{ MEDIA_URL }}the-chocolate-factory-team.jpg" alt="The Chocolate Factory team">
        </div>
    </div>
    <div class="row align-items-center bg-primary py-7">
        <div class="col-12 col-md-6">
            <img src="{{ MEDIA_URL }}testimonial-kelly-m.jpg" alt="Kelly M" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 p-5">
            <figure>
                <blockquote class="blockquote">
                  <p>"I loved these chocolates. They were just so rich and delicious. They're perfect to share with friends and family too just because of the assortment of flavors, someone will definitely find a flavor they will enjoy. Not only because it's chocolate and chocolate makes the perfect gift, but because they're happy chocolates and really brighten your day.</p>
                  <p>I definitely recommend them, especially if you still need to get that gift for someone special for that big holiday coming up."</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite class="text-black" title="Kelly M.">Kelly M.</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row align-items-center py-7">
        <div class="col-12 col-md-6 p-5 order-lg-first">
            <h2 class="display-5">Because <span class="fw-bold">community</span> matters</h2>
            <p class="my-4">We carefully select our producers to match our own principles of supplying good quality, ethical products. New producers need to pass our stringent requirements for food safety, quality, ethical and environmental controls before they can supply ingredients to us.</p>
            <p class="my-4">We aspire to have long term partners and many of our producers have worked with us for many years; indeed several of them have been with us since day one, and as we've grown, they've grown with us.</p>
            <p class="my-4"><a href="{% url 'producers' %}" class="btn btn-outline-dark rounded-0 py-2 theme-btn mt-2">Learn more about our producers</a></p>
        </div>
        <div class="col-12 col-md-6 order-first">
            <img src="{{ MEDIA_URL }}home-build-a-community.jpg" alt="Hands holding cacao beans" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center bg-brand-pink py-5">
            <p class="display-5 fw-bold mb-0">@thechocolatefactory</p>
            <p><a href="https://www.instagram.com/thechocolatefactory/" rel="external nofollow noopener" target="_blank" class="text-black">Follow us on Instagram</a></p>
        </div>
    </div>
{% endblock %}