{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - Producers{% endblock %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="display-5 fw-bold pb-3">
                    Our Fine Cacao Producers
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 py-4">
                {% if request.user.is_superuser %}
                    <p>Add a new producer:<br>
                    <a href="{% url 'add_producer' %}" class="btn btn-sm btn-info rounded-0 theme-btn-sm me-2">Create producer</a></p>
                {% endif %}
            </div>
        </div>
        {% for producer in producers %}
            <div class="row py-5">    
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-lg-6">
                        {% if producer.photo %}
                            <img src="{{ producer.photo.url }}" alt="{{ producer.name }}" class="card-img-top img-fluid">
                        {% else %}
                            <img src="{{ MEDIA_URL }}default.png" alt="{{ producer.name }}" class="card-img-top img-fluid">
                        {% endif %}
                    </div>
                    <div class="col-lg-6 p-5">
                        <h2>{{ producer.name }}, <span class="text-secondary">{{ producer.location }}</span></h2>
                        {% if request.user.is_superuser %}
                            <div>
                                <a href="{% url 'update_producer' producer.id %}" class="btn btn-sm btn-info rounded-0 theme-btn-sm me-2">Update producer</a>
                                <button type="button" class="btn btn-sm btn-danger rounded-0 theme-btn-sm" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#deleteModal" 
                                    data-bs-object="{{ producer }}" 
                                    data-bs-url="{% url 'delete_producer' producer.id %}">
                                    Delete producer
                                </button>
                            </div>
                        {% endif %}
                        <p>{{ producer.details|linebreaks }}</p>
                    </div>
                {% else %}
                    <div class="col-lg-6 p-5">
                        <h2>{{ producer.name }}, <span class="text-secondary">{{ producer.location }}</span></h2>
                        {% if request.user.is_superuser %}
                            <div>
                                <a href="{% url 'update_producer' producer.id %}" class="btn btn-sm btn-info rounded-0 theme-btn-sm me-2">Update producer</a>
                                <button type="button" class="btn btn-sm btn-danger rounded-0 theme-btn-sm" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#deleteModal" 
                                    data-bs-object="{{ producer }}" 
                                    data-bs-url="{% url 'delete_producer' producer.id %}">
                                    Delete producer
                                </button>
                            </div>
                        {% endif %}
                        <p>{{ producer.details|linebreaks }}</p>
                    </div>
                    <div class="col-lg-6">
                        {% if producer.photo %}
                            <img src="{{ producer.photo.url }}" alt="{{ producer.name }}" class="card-img-top img-fluid">
                        {% else %}
                            <img src="{{ MEDIA_URL }}default.png" alt="{{ producer.name }}" class="card-img-top img-fluid">
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
