{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="display-5 fw-bold pb-3">
                    {% if object %}Update{% else %}Create{% endif %} Producer
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex align-items-start justify-content-between">
                        <a href="{% url 'producers' %}" class="btn rounded-0 py-2 theme-btn"><i class="icon fa-solid fa-xmark px-1"></i> Cancel</a>
                        <button id="submit-button" class="btn btn-primary rounded-0 py-2 theme-btn">{% if object %}Update{% else %}Create{% endif %} Producer <i class="icon fa-solid fa-check px-1"></i></button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}