{% extends 'base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="display-5 fw-bold pb-3">
                    {{ profile.user.username }}'s Profile
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-sm-12 col-lg-5">
                <form action="{% url 'profile' %}" method="POST" id="profile-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary rounded-0 py-2 theme-btn">Update profile</button>
                </form>
            </div>
            <div class="col-sm-12 col-lg-6 margin-left-lg">
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td><a href="{% url 'order_history' order.order_number %}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a></td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.orderitems.all %}
                                        <li class="small">{{item.quantity}} x {{ item.product.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadpostjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}