{% load static %}
<footer class="container-fluid bg-brand-dblue">
    <div class="row">
        <div class="col-12 col-md-4 p-5">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link ps-0 text-light text-uppercase">All Products</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'producers' %}" class="nav-link ps-0 text-light text-uppercase">Our Producers</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'home' %}sitemap.xml" class="nav-link ps-0 text-light text-uppercase">Sitemap</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'privacy' %}" class="nav-link ps-0 text-light text-uppercase">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'terms' %}" class="nav-link ps-0 text-light text-uppercase">Terms & Conditions</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-5 text-center">
            <a href="https://rainforest-alliance.org" rel="external nofollow">
                <img height="150" src="{{ MEDIA_URL }}rainforest-alliance.webp" alt="Rainforest Alliance logo" class="m-1">
            </a>
            <a href="https://www.fairtrade.org.uk" rel="external nofollow">
                <img height="140" src="{{ MEDIA_URL }}fairtrade.png" alt="Fairtrade logo" class="m-1">
            </a>
        </div>
        <div class="col-12 col-md-4 p-5 order-first">
            <div>
                <h3 class="text-light mb-4">Hey, let's keep in touch!</h3>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com" rel="external nofollow"><i class="icon fa-brands fa-twitter bg-light rounded-circle p-2"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com" rel="external nofollow"><i class="icon fa-brands fa-facebook-f bg-light rounded-circle p-2"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://pinterest.com" rel="external nofollow"><i class="icon fa-brands fa-pinterest-p bg-light rounded-circle p-2"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" rel="external nofollow"><i class="icon fa-brands fa-instagram bg-light rounded-circle p-2"></i></a>
                    </li>
                </ul>
            </div>
            <div>
                <span class="text-light small">Stay in the know when you receive our newsletter:</span>
                <button type="button" class="btn btn-primary d-block rounded-0 py-2 theme-btn mt-2" data-bs-toggle="modal" data-bs-target="#subscribeModal">
                    Click to subscribe
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5">
            <p class="small text-light">Copyright &copy; {% now "Y" %} The Chocolate Factory<br>
            Disclaimer: For educational purposes only. No orders will be processed.</p>
        </div>
    </div>
</footer>