{% load static %}
<header class="container-lg pt-2">
    <!-- Header nav -->
    <nav id="topnav" class="navbar navbar-expand-lg d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto text-center text-lg-start">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'logo.svg' %}" alt="The Chocolate Factory" width="178" height="50">
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto">
            <!-- Search form -->
            <form method="GET" action="{% url 'products' %}" class="d-flex">
                <div class="input-group w-100">
                    <span class="input-group-text border-dark border-end-0 rounded-0 bg-white pe-0"><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i></span>
                    <input class="form-control border-dark border-start-0 rounded-0" type="text" name="q" placeholder="What do you want to search for?" aria-label="Search">
                    <button class="input-group-text btn btn-brand-pink border-dark rounded-0" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 my-auto">
            <!-- Account + Bag nav-->
            <ul class="nav justify-content-end my-0">
                <li class="nav-item dropdown">
                    <a class="nav-link text-black link-big-underline" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <i class="fa-solid fa-user" aria-hidden="true"></i>
                            <p class="my-0">Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu rounded-0 border-0" aria-labelledby="user-options">
                        <!-- If user is logged in + a superuser, display Product Management -->
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <!-- If user is logged in + any user (not superuser), display My Profile and Logout-->
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <!-- If user logged out, display Register and Login -->
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="text-black nav-link link-big-underline" data-bs-toggle="offcanvas" href="#view-bag" role="button" aria-controls="view-bag">
                        <div class="text-center">
                            <i class="fa-solid fa-bag-shopping" aria-hidden="true"></i>
                            <p class="my-0">
                                <!-- If products in bag, display grand total -->
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% include 'bag/offcanvas-bag.html' %}
    <!-- Mobile header nav -->
    <nav id="mobiletopnav" class="navbar navbar-expand-lg w-100 py-0">
        <button class="navbar-toggler border-0 rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-offcanvas-nav" aria-controls="main-offcanvas-nav" aria-label="Main navigation toggle" title="Main navigation toggle">
            <i class="fa-solid fa-bars" aria-hidden="true"></i>
        </button>
        {% include './offcanvas-mobile-nav.html' %}
        {% include './mobile-top-header.html' %}
        {% include './main-nav.html' %}
    </nav>
</header>