<div class="collapse navbar-collapse fs-5 fw-bold" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown mx-3">
            <a href="#" class="nav-link" id="full-range-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Full Range</a>
            <div class="dropdown-menu border-0" aria-labelledby="full-range-link">
                <a href="" class="dropdown-item">An item</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a href="#" class="nav-link" id="gifts-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gifts</a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="" class="dropdown-item">An item</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a href="#" class="nav-link" id="flavours-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flavours</a>
            <div class="dropdown-menu border-0" aria-labelledby="flavours-link">
                <a href="" class="dropdown-item">An item</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a href="#" class="nav-link" id="vegan-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vegan</a>
            <div class="dropdown-menu border-0" aria-labelledby="vegan-link">
                <a href="" class="dropdown-item">An item</a>
            </div>
        </li>
    </ul>
</div>