<div class="collapse navbar-collapse fs-5 pt-2" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown mx-3">
            <a href="{% url 'products' %}" class="nav-link text-black link-big-underline" id="our-range-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Range</a>
            <div class="dropdown-menu rounded-0 border-0" aria-labelledby="our-range-link">
                <a href="{% url 'products' %}" class="dropdown-item">Full Range</a>
                <a href="{% url 'products' %}?category=chocolate_bars" class="dropdown-item">Chocolate Bars</a>
                <a href="{% url 'products' %}?category=chocolate_buttons" class="dropdown-item">Chocolate Buttons</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a href="#" class="nav-link text-black link-big-underline" id="gifts-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gifts</a>
            <div class="dropdown-menu rounded-0 border-0" aria-labelledby="gifts-link">
                <a href="" class="dropdown-item">An item</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a href="#" class="nav-link text-black link-big-underline" id="flavours-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flavours</a>
            <div class="dropdown-menu rounded-0 border-0" aria-labelledby="flavours-link">
                <a href="" class="dropdown-item">An item</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a href="#" class="nav-link text-black link-big-underline" id="vegan-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vegan</a>
            <div class="dropdown-menu rounded-0 border-0" aria-labelledby="vegan-link">
                <a href="" class="dropdown-item">An item</a>
            </div>
        </li>
    </ul>
</div>