<div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="main-nav" aria-labelledby="main-nav-label">
    <div class="offcanvas-header mx-2 mt-1">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h4 id="main-nav-label">Main menu</h4>
    </div>
    <div class="offcanvas-body mx-2">
        <form method="GET" action="{% url 'products' %}" class="d-flex">
            <div class="input-group w-100">
                <input class="form-control border-dark rounded-0" type="text" name="q" placeholder="What do you want to search for?" aria-label="Search">
                <button class="input-group-text btn btn-brand-dblue border-dark rounded-0" type="submit">Search</button>
            </div>
        </form>
        <ul class="navbar-nav w-auto mx-auto my-4">
            <li class="nav-item dropdown">
                <a href="{% url 'products' %}" class="nav-link" id="our-range-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Range</a>
                <div class="dropdown-menu border-0" aria-labelledby="our-range-link">
                    <a href="{% url 'products' %}" class="dropdown-item">Full Range</a>
                    <a href="{% url 'products' %}?category=chocolate_bars" class="dropdown-item">Chocolate Bars</a>
                    <a href="{% url 'products' %}?category=chocolate_buttons" class="dropdown-item">Chocolate Buttons</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" id="gifts-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gifts</a>
                <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                    <a href="" class="dropdown-item">An item</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" id="flavours-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flavours</a>
                <div class="dropdown-menu border-0" aria-labelledby="flavours-link">
                    <a href="" class="dropdown-item">An item</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" id="vegan-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vegan</a>
                <div class="dropdown-menu border-0" aria-labelledby="vegan-link">
                    <a href="" class="dropdown-item">An item</a>
                </div>
            </li>
        </ul>
    </div>
</div>