{% extends "base.html" %}

{% block extra_title %} - 404{% endblock %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="display-5 fw-bold pb-3">
                    404
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <p>We have a confection to make... we seem to have melted this page!</p>
                <a href="{% url 'home' %}" class="btn btn-primary rounded-0 py-2 theme-btn">Go back home</a>
            </div>
        </div>
    </div>
{% endblock %}