{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The Chocolate Factory. The best fairtrade chocolate in the world.">
        <meta name="keywords" content="chocolate, gifts, dark chocolate, milk chocolate, white chocolate, fairtrade">
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

    <title>The Choocolate Factory{% block extra_title %}{% endblock %}</title>

  </head>
  <body class="d-flex flex-column min-vh-100">
    
    <!-- Include header -->
    {% include 'includes/header.html' %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block corejs %}
        <!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>
</html>