// icon reset from Bulma
$icon-dimensions: 1rem;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;
}

.icon-sm {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions * 0.9;
  width: $icon-dimensions * 0.9;
  border: 1px solid $gray-400;
}

// tweak button class
.theme-btn {
  font-size: 1.13rem;
  font-weight: 500;
  border: 2px solid #000;
}

.theme-btn:hover,
.theme-btn:active {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

// reduce font size for account + cart text
#topnav .nav-link,
#mobiletopnav .list-inline-item > .nav-link {
  font-size: $font-size-sm;
}

// tweak link hovers
.link-big-underline:hover,
.link-big-underline:active {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
  text-decoration-color: $brand-blue;
}

.img-link {
  transition: $transition-base;
}

.img-link:hover,
.img-link:active {
  box-shadow: $box-shadow;
}

// tweak accordions
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

// tweak offcanvas
.offcanvas-header h4 {
  margin-top: 1rem;
}

// main nav bottom horizontal line
#topnav {
  border-bottom: 1px solid shade-color($primary, 15);
}

#main-nav {
  border-top: 1px solid tint-color($primary, 25);
}