// icon reset from Bulma
$icon-dimensions: 1.5rem;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;
}

// tweak button class
.theme-btn {
  font-size: 1.13rem;
  font-weight: 500;
  border: 2px solid #000;
}

// tweak link hovers
a:hover:not(.img-link),
a:active:not(.img-link) {
  border-bottom: 1px solid $link-hover-color;
}

.nav-link:hover
.nav-link:active {
  color: black;
  background: white;
}

.img-link {
  transition: $transition-base;
}

.img-link:hover,
.img-link:active {
  box-shadow: $box-shadow;
}

#topnav {
  border-bottom: 1px solid shade-color($primary, 15);
}

#main-nav {
  border-top: 1px solid tint-color($primary, 25);
}