// Home hero
.hero-bg {
  background: url('/media/home-hero-bg.jpg') no-repeat center center;
}

.custom-shape-divider-bottom-1662575848 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  color: #fff;
}

// icon reset from Bulma
$icon-dimensions: 1rem;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;
}

// tweak button class
.theme-btn {
  font-size: 1.13rem;
  font-weight: 500;
  border: 2px solid #000;
}

.theme-btn:hover,
.theme-btn:active {
  border: 2px solid #000;
}

.theme-btn-sm {
  border: 1px solid #000;
}

.theme-btn-sm:hover,
.theme-btn-sm:active {
  border: 1px solid #000;
}

.theme-btn:hover,
.theme-btn:active,
.theme-btn-sm:hover,
.theme-btn-sm:active {
  background-color: #000;
  color: #fff;
}

// reduce font size for account + cart text
#topnav .nav-link,
#mobiletopnav .list-inline-item > .nav-link {
  font-size: $font-size-sm;
}

// tweak link hovers
.link-big-underline:hover,
.link-big-underline:active {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
  text-decoration-color: $brand-blue;
}

.img-link {
  transition: $transition-base;
}

.img-link:hover,
.img-link:active {
  box-shadow: $box-shadow;
}

// tweak accordions
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

// tweak offcanvas
.offcanvas-header h4 {
  margin-top: 1rem;
}

.qty_input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty_input input[type=number] {
  -moz-appearance: textfield;
}

// bag + checkout custom styles
.bg-grey,
.bag-item {
  background-color: $gray-100;
}

.qty-container {
  margin: $spacer 0;
}

.right-column {
  margin-top: $spacer * 3;
}

@include media-breakpoint-up(sm) {
  .bag-item {
    margin-right: $spacer;
  }
}

@include media-breakpoint-up(lg) {
  .qty-container, 
  .right-column {
    margin: 0;
  }

  .margin-left-lg {
    margin-left: $spacer * 3;
  }
}

// ensure bootstrap toast messages are on top
.message-container {
  z-index: 9999;
}

// tweak allauth templates
.allauth-content p {
  margin-top: $spacer * 1.5;
  color: $secondary;
}

.allauth-content input {
  border-color: $black;
  border-radius: 0;
}

.allauth-content input:active,
.allauth-content input:focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.allauth-content label:not([for='id_remember']) {
  display: none;
}