// add extra widths
$custom-widths: (
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        90: 90%,
        100: 100%,
        auto: auto
      )
    )
);
$utilities: map-merge($utilities, $custom-widths);

// import utilities api to allow utility map merge to work
@import "./bootstrap-5.2.0/scss/utilities/api";