// override base font-family
$font-family-base: 'Alegreya Sans', $font-family-sans-serif;
$font-size-base: 1.25rem;

// set brand colours
$primary: #4EB0B9;
$brand-pink: #F2A094;
$brand-gold: #F7C665;
$brand-dgreen: #1C6162;
$brand-dblue: #005E84;

$brand-colors: (
    "primary": $primary,
    "brand-pink": $brand-pink,
    "brand-gold": $brand-gold,
    "brand-dgreen": $brand-dgreen,
    "brand-dblue": $brand-dblue,
);
$theme-colors: map-merge($theme-colors, $brand-colors);

// set default link styling
$link-color: $brand-dblue;
$link-hover-color: shade-color($brand-pink, 15);
$link-decoration: none;

// add extra spacers
$custom-spacers: (
    6: $spacer * 2,
    7: $spacer * 10,
);
$spacers: map-merge($spacers, $custom-spacers);

// fix offcanvas z-index
$zindex-offcanvas: 1052;