{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <div>
                    {% if product.image %}
                        <img class="w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}default.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 pt-4 px-5">
                {% if request.user.is_superuser %}
                <div class="bg-grey px-4 py-3 mb-4">
                    <span class="small text-secondary">Product Management:</span>
                    <p class="text-secondary">
                        <a href="{% url 'update_product' product.id %}" class="update-link text-info"><small>Update product</small></a> | 
                        <a href="{% url 'delete_product' product.id %}" class="update-link text-danger"><small>Delete product</small></a>
                    </p>
                </div>
                {% endif %}
                <p class="fs-4">{{ product.category.name }}</p>
                <p class="display-5">{{ product.name }}</p>
                <div class="d-flex justify-content-between">
                    <p class="lead font-weight-bold text-secondary fs-3 ">£{{ product.price }}</p>
                    <p class="lead font-weight-bold text-secondary fs-3">{{ product.weight }}g</p>
                </div>
                <form class="form border-top pt-3" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row mb-4">
                        <label class="col-md-1 col-form-label" for="id_qty_{{ product.id }}">QTY</label>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-outline-dark rounded-0 theme-btn" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <i class="fa-solid fa-minus fa-sm"></i>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input rounded-0 border-0 fs-5 px-1 text-center" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-outline-dark rounded-0 theme-btn" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <i class="fa-solid fa-plus fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex justify-content-end">
                            <input type="submit" class="btn btn-outline-dark rounded-0 py-2 px-4 theme-btn" value="Add to bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <p>{{ product.details }}</p>
                <div class="accordion accordion-flush" id="product-accordion">
                    <div class="accordion-item">
                        <p class="accordion-header" id="producer">
                            <button class="accordion-button collapsed text-uppercase px-0 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#product-producer" aria-expanded="false" aria-controls="product-producer">
                            About the Producer
                            </button>
                        </p>
                        <div id="product-producer" class="accordion-collapse collapse" aria-labelledby="producer" data-bs-parent="#product-accordion">
                            <div class="accordion-body px-0">Details about the producer go here.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header" id="ingredients">
                            <button class="accordion-button collapsed text-uppercase px-0 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#product-ingredients" aria-expanded="false" aria-controls="product-ingredients">
                            Ingredients
                            </button>
                        </p>
                        <div id="product-ingredients" class="accordion-collapse collapse" aria-labelledby="ingredients" data-bs-parent="#product-accordion">
                            <div class="accordion-body px-0">{{ product.ingredients }}</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header" id="allergies">
                            <button class="accordion-button collapsed text-uppercase px-0 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#product-allergies" aria-expanded="false" aria-controls="product-allergies">
                            Allergy Information
                            </button>
                        </p>
                        <div id="product-allergies" class="accordion-collapse collapse" aria-labelledby="allergies" data-bs-parent="#product-accordion">
                            <div class="accordion-body px-0">Details about the product allergies go here.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}