{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container pt-5 pt-lg-5 pb-lg-3">
    <div class="row">
        <div class="col">
            <h1 class="display-5 fw-bold">
                {% if request.GET.q %}
                    Results for: "{{ request.GET.q }}"
                {% else %}
                    Products
                {% endif %}
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-white pt-4">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mt-1 mb-2">

                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 text-center">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}" class="img-link">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}" class="img-link">
                                        <img src="{{ MEDIA_URL }}default.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                                    </a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-title fs-5 "><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></p>
                                    <p class="lead font-weight-bold text-secondary">£{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}