{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - Products{% endblock %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <!-- Page header - shows search term or category if applicable -->
                <h1 class="display-5 fw-bold pb-3">
                    {% if search_term %}
                        Results for: "{{ search_term }}"
                    {% elif current_category %}
                        {% for c in current_category %}
                            {{ c.name }}
                        {% endfor %}
                    {% else %}
                        All Products
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <!-- Left column with sort + filter options -->
            <div class="col-md-12 col-lg-3">
                <div class="pb-3">
                    <a href="{% url 'products' %}">Reset sort/filter</a>
                </div>
                <!-- Sort dropdown -->
                <div class="dropdown pb-3">
                    <a class="nav-link dropdown-toggle px-0" id="sortDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Sort by</a>
                    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                        <li><a href="{% url 'products' %}?order_by=name" class="dropdown-item">Name (A - Z)</a></li>
                        <li><a href="{% url 'products' %}?order_by=-name" class="dropdown-item">Name (Z - A)</a></li>
                        <li><a href="{% url 'products' %}?order_by=price" class="dropdown-item">Price (lowest first)</a></li>
                        <li><a href="{% url 'products' %}?order_by=-price" class="dropdown-item">Price (highest first)</a></li>
                    </ul>
                </div>
                <!-- Filter dropdown -->
                <div class="dropdown pb-3">
                    <a class="nav-link dropdown-toggle px-0" id="filterDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Filter by</a>
                    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                        <li><a href="{% url 'products' %}?type=milk" class="dropdown-item">Milk chocolate</a></li>
                        <li><a href="{% url 'products' %}?type=dark" class="dropdown-item">Dark chocolate</a></li>
                        <li><a href="{% url 'products' %}?type=white" class="dropdown-item">White chocolate</a></li>
                        <li><a href="{% url 'products' %}?type=black" class="dropdown-item">Black chocolate</a></li>
                        <li><a href="{% url 'products' %}?type=vegan" class="dropdown-item">Vegan chocolate</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="row">
                    <!-- For each product in the database... -->
                    {% for product in products %}
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <div class="card h-100 border-0 text-center">
                                <!-- Display an image if it has one... -->
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.slug %}" class="img-link">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top rounded-0 img-fluid">
                                    </a>
                                <!-- Else show the fallback image -->
                                {% else %}
                                    <a href="{% url 'product_detail' product.slug %}" class="img-link">
                                        <img src="{{ MEDIA_URL }}default.png" alt="{{ product.name }}" class="card-img-top rounded-0 img-fluid">
                                    </a>
                                {% endif %}
                                <!-- Product name + price -->
                                <div class="card-body">
                                    <p class="card-title fs-5 "><a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a></p>
                                    <p class="lead font-weight-bold text-secondary">£{{ product.price }}</p>
                                </div>
                                <!-- If user is a superuser, show buttons to update/delete this product -->
                                {% if request.user.is_superuser %}
                                    <div class="card-img-overlay rounded-0">
                                        <a href="{% url 'update_product' product.id %}" class="btn btn-sm btn-info rounded-0 theme-btn-sm me-2">Update product</a>
                                        <button type="button" class="btn btn-sm btn-danger rounded-0 theme-btn-sm" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#deleteModal" 
                                            data-bs-object="{{ product }}"
                                            data-bs-url="{% url 'delete_product' product.id %}">
                                            Delete product
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}